In [13]:
x = 32
nom = " John"
print(nom,x)

 John 32

In [14]:
x = 32
nom = " John"
print(nom,'a',x,'ans')

 John a 32 ans

In [2]:
x = 32
nom = " John"
print ("{} a {} ans ". format (nom , x))

 John a 32 ans

In [5]:
x = 32
nom = " John"
bib= "{} a {} ans "
print(bib.format(nom , x))

 John a 32 ans

In [ ]:
nb1 = 4500
nb2 = 2575
prop=( nb1 + nb2 )/14800
print ("On a {} G et {} C -> prop= {:.2f}".format(nb1 , nb2 , prop))

In [11]:
print (f"On a { nb1 } G et { nb2 } C -> prop  = { prop:.2f}")# .2f =>2 chiffres aprés la virgule

On a 4500 G et 2575 C -> prop  = 0.48

In [131]:
a=["amine","ali","salah"]
for ele in a:
    print(ele)

amine
ali
salah

In [129]:
for i in range(len(a)):
    print(a[i])

amine
ali
salah

In [133]:
for i, ele in enumerate(a):
    print(i,"-->",ele)

0 --> amine
1 --> ali
2 --> salah

In [134]:
a="amine"
for i in  a:
    print(i)

a
m
i
n
e

In [135]:
for i, ele in enumerate(a):
    print(i,"-->",ele)

0 --> a
1 --> m
2 --> i
3 --> n
4 --> e

1.Exercice Palindrome : chaine vers liste

In [18]:
chaine=input("donner une chaine")
tableau=[]
for i in chaine :
     tableau.append(i)#ajoiuter le caractére  a la liste
for j in range(tableau.count(" ")):# 
    tableau.remove(" ") #supprimer les espaces
tableau2=tableau.copy()# faire une copie du tableau
tableau.reverse()  #inverser le tableau
print(tableau)
print(tableau2)
if(tableau==tableau):
    print("palin")
else :
    print("pas palin")

donner une chaineradar
['r', 'a', 'd', 'a', 'r']
['r', 'a', 'd', 'a', 'r']
palin

Palindrome :2.  inverser la chaine

In [20]:
chaine=input("donner une chaine")
chaine=chaine.replace(" ","")
print(chaine)
chaine2=chaine[::-1]
print(chaine)
print(chaine2)
if(chaine==chaine2):
    print("palind")
else :
    print("non palind")

donner une chaineradar
radar
radar
radar
palind

3. Palindrome

In [ ]:
chaine=input("donner une chaine")
ok=True
n =len(chaine)
for i in range(n // 2):
    if chaine[i] != chaine[-i-1]:
        ok=False
        break
if(ok):
    print("palind")
else :
    print("non palind")

# LES LISTES

Création   :list()
Ajout      :append()|insert()|extend()
suppression:remove()|pop()|clear()|del
Operations :len()|sum()|max()|min()|count()|reverse()|sort()|sorted()
recherche  :index()
duplication:copy()

In [5]:
#L=list()
#L=[]
L1=list(range(5,16))

In [6]:
L1

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [7]:
len(L1)

11

In [8]:
#L=list("salut","hello","ali","omar")
L=["salut","hello","ali","omar",'hello']

In [9]:
L

['salut', 'hello', 'ali', 'omar', 'hello']

In [10]:
L[2]="anis"

In [11]:
L

['salut', 'hello', 'anis', 'omar', 'hello']

In [12]:
L.count ("hello")

2

In [13]:
L.sort()
print(L)

['anis', 'hello', 'hello', 'omar', 'salut']

In [19]:
L5 = [5,"ABC",3,"Z"]

In [20]:
L5.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [22]:
L6 = [5,4,3,0]
L6.sort()
print(L6)

[0, 3, 4, 5]

In [23]:
L7 = [5,4,3,0]
L7.sort(reverse=True)
print(L7)

[5, 4, 3, 0]

In [14]:
 L.sort( reverse = True )
print(L)

['salut', 'omar', 'hello', 'hello', 'anis']

In [25]:
L.append("jean")
print(L)

['salut', 'omar', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd', 'jean']

In [26]:
L.insert (2,"sami")
print(L)

['salut', 'omar', 'sami', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd', 'jean']

In [27]:
L.extend("world")# elemnt ajouter doit etre un sequence
print(L)

['salut', 'omar', 'sami', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd', 'jean', 'w', 'o', 'r', 'l', 'd']

In [28]:
L.remove("jean")
print(L)

['salut', 'omar', 'sami', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd', 'w', 'o', 'r', 'l', 'd']

In [29]:
del (L[1])
print(L)

['salut', 'sami', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd', 'w', 'o', 'r', 'l', 'd']

In [30]:
del(L[2:5])

In [31]:
L

['salut', 'sami', 'anis', 'w', 'o', 'r', 'l', 'd', 'w', 'o', 'r', 'l', 'd']

In [32]:
L2=L.copy()
print(L2)

['salut', 'sami', 'anis', 'w', 'o', 'r', 'l', 'd', 'w', 'o', 'r', 'l', 'd']

In [33]:
L2.reverse()
print(L2)

['d', 'l', 'r', 'o', 'w', 'd', 'l', 'r', 'o', 'w', 'anis', 'sami', 'salut']

In [34]:
print(max(L2))

w

In [35]:
print(min(L2))

anis

In [37]:
L3=["salut","hello","ali","omar",'hello']

In [39]:
L3.pop()#=>supprime le dernier element
print(L3)

['salut', 'hello', 'ali']

In [40]:
v=L3.pop(2)# supprime et affiche ali 
print(L3)
print(v)

['salut', 'hello']
ali

In [41]:
"salut" in L3

True

In [42]:
L3.index("hello")# l'indice de hello dans la liste

1

# Les Chaines

In [43]:
st = "langage python"

In [44]:
print(len(st))

14

In [45]:
st.replace("python","R")

'langage R'

In [47]:
i = st.find("langage") # on cherche  l'indice "langage" dans st
print(i)

0

In [48]:
s = "salut, Je m'appelle Bob..."

In [49]:
print(s.lower())

salut, je m'appelle bob...

In [50]:
print(s.upper())

SALUT, JE M'APPELLE BOB...

In [51]:
print(s.capitalize())#la premiére lettre en maj

Salut, je m'appelle bob...

In [52]:
s = "abracadabra"
print(s.count("bra"))

2

In [53]:
s = "un;deux;trois"

In [54]:
s.split(";")

['un', 'deux', 'trois']

In [56]:
mot=s.split(";")
print(mot)
print(s)

['un', 'deux', 'trois']
un;deux;trois

In [57]:
s2 = "-".join(mot) # concaténation des éléments de mots séparés par ";"
print(s2) # affiche trois;deux;un

un-deux-trois

In [60]:
chaine = " Bonjour monsieur le capitaine !"

In [61]:
chaine.startswith (" Bonjour ")

True

In [62]:
chaine.endswith ("ne !")

True

In [63]:
chaine[0].upper()+chaine[1:] #chaine.capitalize()

' Bonjour monsieur le capitaine !'

In [64]:
chaine ="    Comment enlever les espaces au dé but et à la fin ?"

In [65]:
chaine.strip()

'Comment enlever les espaces au dé but et à la fin ?'

In [67]:
print("abc".isalpha())# voir aussi s.isdigit(), s.isalnum(), s.isnumeric()...

True

In [69]:
s = input("Rentrez 5 nombres entiers, séparés par des espaces ")
t = s.split()
print(t)

Rentrez 5 nombres entiers, séparés par des espaces 1 1 2 5 6
['1', '1', '2', '5', '6']

2 dictionnaire

In [70]:
ani1 = {}
ani1 [" nom "] = " girafe "
ani1 [" taille "] = 5.0
ani1 [" poids "] = 1100
print(ani1)

{' nom ': ' girafe ', ' taille ': 5.0, ' poids ': 1100}

2.	Tableau a une dimenssion

In [136]:
taille=int(input("entrer la tailledu tableau\n"))
T1=[]
for i in range(taille):
    a=int(input("entre une valeur \n"))
    T1.append(a)
print(T1)

entrer la tailledu tableau
3
entre une valeur
1
entre une valeur
2
entre une valeur
3
[1, 2, 3]

In [137]:
taille=int(input("entrer la tailledu tableau\n"))
T1=[None]*taille
for i in range(taille):
    T1[i]=int(input("entre une valeur \n"))
print(T1)

entrer la tailledu tableau
3
entre une valeur
1
entre une valeur
2
entre une valeur
3
[1, 2, 3]

3.	Tableau deux dimension
Saisi et affichage

In [138]:
N=[]
for i  in range(2):
    ligne=[]
    for j in range(3):
        print('N[',i,'][',j,']=',end=" ")
        ligne.append(int(input()))
    N.append(ligne)
print(N)

N[ 0 ][ 0 ]= 1
N[ 0 ][ 1 ]= 2
N[ 0 ][ 2 ]= 3
N[ 1 ][ 0 ]= 4
N[ 1 ][ 1 ]= 5
N[ 1 ][ 2 ]= 6
[[1, 2, 3], [4, 5, 6]]